@model IEnumerable<QuanLyBanSach.Models.NhaXuatBan>

@{
    ViewBag.Title = "NhaXuatBan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="mt-3">Nhà xuất bản</h2>
<hr />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-1" data-toggle="modal" data-target="#themNhaXuatBanModal">
    Thêm Nhà xuất bản
</button>

<!-- Modal -->
<div class="modal fade" id="themNhaXuatBanModal" tabindex="-1" aria-labelledby="themNhaXuatBanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="themChuDeModalLabel">Thêm Nhà xuất bản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label for="tenNhaXuatBan">
                            Tên Nhà xuất bản
                        </label>
                        <input class="form-control" id="tenNhaXuatBan" name="tenNhaXuatBan" />
                        @ViewData["LoiTenNhaXuatBan"]
                    </div>
                    <div class="form-group">
                        <label for="diaChiNhaXuatBan">
                            Địa chỉ Nhà xuất bản
                        </label>
                        <input class="form-control" id="diaChiNhaXuatBan" name="diaChiNhaXuatBan" />
                        @ViewData["LoiDiaChiNhaXuatBan"]
                    </div>
                    <div class="form-group">
                        <label for="dienThoaiNhaXuatBan">
                            Điện thoại Nhà xuất bản
                        </label>
                        <input class="form-control" id="dienThoaiNhaXuatBan" name="dienThoaiNhaXuatBan" />
                        @ViewData["LoiDienThoaiNhaXuatBan"]
                    </div>
                    <div class="mt-2 d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Lưu Nhà xuất bản</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (ViewBag.ThongBao != null)
{
    <div class="alert-info text-center p-2 mt-3">
        @ViewBag.ThongBao
    </div>
}

<table class="table table-striped mt-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã NXB</th>
            <th scope="col">Tên NXB</th>
            <th scope="col">Điện thoại</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var nxb in Model)
        {
            <tr>
                <th>@nxb.MaNXB</th>
                <td>@nxb.TenNXB</td>
                <td>@nxb.DienThoai</td>
                <td>@nxb.DiaChi</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" href="@Url.Action("SuaNhaXuatBan", "Admin", new { id=nxb.MaNXB})">
                        Sửa
                    </a>

                    <a class="btn btn-sm btn-danger" href="@Url.Action("XoaNhaXuatBan", "Admin", new { id=nxb.MaNXB})">
                        Xóa
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>
