<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nguyễn Duy Thuận - Nguyễn Tấn Tài</title>
    <link rel="icon" href="~/assets/favicon_io/favicon.ico" />
    <link href="~/Content/font-families.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <div class="d-flex">
                <a class="brand" href="/">
                    Trang chủ
                </a>
                <div class="nav-link nav-chude">
                    <div class="nav-chude-label">
                        Chủ đề
                    </div>

                    @Html.Action("ChuDe", "Sach")
                </div>

                <div class="nav-link nav-nxb">
                    <div class="nav-nxb-label">
                        Nhà xuất bản
                    </div>

                    @Html.Action("NhaXuatBan", "Sach")
                </div>

            </div>
            @using (Html.BeginForm("Tim", "Sach", "POST"))
            {
                <div class="d-flex">
                    <input class="form-control" name="query" id="query" value="@ViewData["Query"]" />
                    <button type="submit" class="btn btn-search ml-2">Search</button>
                </div>
            }
        </div>
    </nav>
    <div class="banner">
        @Html.Action("NguoiDung", "NguoiDung")
    </div>

    @Html.Action("GioHangPartial", "GioHang")

    <div class="container">
        @RenderBody()
    </div>

    <hr />
    <footer class="container footer">
        Copyright © 2021
    </footer>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>